body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#sidebar {
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 16px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 413px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(0);
    transition: transform 0.3s ease-out;
    gap: 10px;
}

/* 사이드바 숨김 상태 */
#sidebar.closed {
    transform: translateX(-100%);
    /* 사이드바를 왼쪽으로 숨김 */
}

#map {
    flex: 1;
    /* 부모 요소의 나머지 공간을 차지 */
    height: 100vh;
    position: relative;
}

#coordinates {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* 태그 버튼 위치 */
#tagButtons {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#toggleButton {
    position: absolute;
    top: 50%;
    left: 412px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
}

#toggleButton img {
    width: 16px;
    height: 16px;
}

#toggleButton.hidden {
    transform: translateX(-100%);
}

#markerList {
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    gap: 10px;
}